.widget-categories {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item a {
    display: block;
    padding: 5px 0;
    transition: padding-left 0.5s;
    border-radius: 4px;

    &:focus {
      color: #e12727;
    }

    &:hover {
      padding-left: 10px;
      color: #e12727;
      background: rgba(0, 0, 0, 0.5);
      text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
    }

  }
}