.widget {
  margin: 0 0 15px;
  padding: 15px;
  color: $color-light;
  border-radius: 7px;
  background: rgba($color-dark, $alpha: 0.5);

  & p {
    line-height: 2em;
    color: #cccccc;
  }

  & p:last-child {
    margin-bottom: 0;
  }
}