.rigth {

    order: 3;

    @include lg-min {
        flex: 0 0 240px;
    }

    @include lg-md {
        width: 100%;
    }

    @include md-sm {
        width: 50%;
        order: 3;
        padding-left: 7.5px;
    }

    & a:focus,
    a:hover {
        color: #e12727;
    }

}