.main-content {
    &__body {
        display: flex;
        flex-wrap: wrap;
        margin-top: -7.5px;
        margin-right: -7.5px;
        margin-bottom: 22.5px;
        margin-left: -7.5px;
    }

    &__title {
        color: $color-light;
        margin: 30px 0;
        padding: 8px 12px;
        letter-spacing: 3px;
        border-radius: 7px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0) 100%);
        font-family: "Lora", sherif;
        font-weight: 300;
        line-height: 1.5em;

    }
}

.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}