.main-content-item {
    flex: 0 0 33.3333%;
    padding: 7.5px;

    &__wrapper {
        position: relative;
        overflow: hidden;
        border: 5px solid rgba($color: #000000, $alpha: 0.5);
        border-radius: 7px;
    }

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 30px;
        margin: 0;
        padding: 7px;
        transition: background-color 0.5s;
        text-align: center;
        white-space: nowrap;
        letter-spacing: 1px;
        text-overflow: ellipsis;
        color: #eeeeee;
        background-color: rgba($color: #000000, $alpha: 0.5);
        text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1em;
    }

    &__excerpt {
        position: absolute;
        top: 210%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 15px;
        height: calc(100% - 27px);
        text-align: center;
        transition: top 0.5s ease-out, background-color 0.5s ease-out;
    }

    &:hover .main-content-item__excerpt {
        top: 30px;
        color: #eeeeee;
        background: rgba(0, 0, 0, 0.75);
    }

    &:hover h3 {
        color: #e12727;
        background: rgba(0, 0, 0, 0.75);
    }
}